.boletimContainer {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.boletimContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "m p ."
    "b b f"
    "o o r";

    gap: 1rem;
}

.modulo {
    grid-area: m;
    background-color: #fff;
    padding: 0 2rem 0 2rem;

    border-radius: 0.5rem;
}

.projetar {
    grid-area: p;
    background-color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 2rem;
    
    border-radius: 0.5rem;
    cursor: pointer;
}

.projetar p, .modulo p {
    font-weight: bold;
}

.boletim {
    grid-area: b;

    background-color: #fff;
    height: auto;
    width: 45rem;
    
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
}

.boletim table {
    width: 100%;
}

table thead tr td, table tbody tr td {
    padding: 0.5rem;
    border: 0.1rem solid #e2e2e2;
}

.boletim table thead tr {
    font-size: 18px;
}

.boletim table tbody tr .nota {
    color: #0C71AA;
}

table thead tr td,
table tbody tr td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6) {
    text-align: center;
}

.frequencia {
    grid-area: f;
}

.observacoes {
    grid-area: o;
}

.registro {
    grid-area: r;
}