.leftBar {
    width: 4.5rem;
    height: 100vh;
    position: fixed;
padding: 0;    

    left: 0;
    transition: 0.7s;
    top: -1px;
    z-index: 999;
   }

   .leftBarOpen {
    width: 16rem;
    height: 100vh;
    position: fixed;
    padding: 0 0 0 0;
    left: 0;
    transition: 0.7s;
    top: 0;
    z-index: 999;
   }


   
   h1 { 
       font-weight: bold;
   }

   .svg {
    margin-top: 1rem;

   }

   .svgOpen {


    margin-top: 1rem;
   }

   .svg:hover .cls-1, .svgOpen:hover .cls-1{
    transition: all 500ms linear;
   }

   /* quando refatorar, mudar para leftBarOpen svgg */

   .svg:hover .cls-1 {
    fill: white;
   }

   .svgOpen .cls-1 {
    fill: #5c0ccf;
    
  }

  .svgOpen:hover .cls-1 {
    fill: black;
  }

  .svgOpen .cls-1, .cls-2 {
    fill-rule: evenodd;
  }

  .svgOpen .cls-2 {
    fill: #f9943b;
  }

   .svg .cls-1 {
    fill: #f9943b;
  }

  .svg .cls-1, .cls-2 {
    fill-rule: evenodd;
  }

  .svg .cls-2 {
    fill: #fff;
  }

  .svg:hover .cls-2 {
    fill: #1d0b3b;
  }

   
   .navbarVertical {
    background-color: #1d0b3b; /*1d0b3b*/
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
   
    padding: 0 0 3rem 0;
    flex-direction: column;
    border-radius: 0 0.5rem 0.5rem 0;
    overflow-x: hidden;
   }
   
   .navbarVertical::-webkit-scrollbar {
    display: none;
   }
   
   .divNavbar {
    width: 100%;
    display: flex;
    flex-direction: column;
   
    gap: 1rem;
   }
   
   .divNavbar p {
    height: 1.5rem;
    color: #fff;
   }
   
   .icon {
    cursor: pointer;
    border-radius: 50%;
    background-color:#2B1354;
   }
   
   .iconDiv {
    height: 2.5rem;
    width: 20rem;
   
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 1.2rem;
   
    position: relative;
   
    cursor: pointer;
    transition: 0.5s;
   }
   
   
   .iconDiv p {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
   }