.activityContainer {
 width: 100%;
 height: 100%;

 display: flex;
 justify-content: center;
 gap: 2rem;

 margin-top: 1rem;
 padding-left: 5rem;
 padding-right: 2rem;
}

.selectClass {
 background-color: #311B55;
 height: 32rem;
 width: 19.5rem;

 padding: 1rem;
 text-align: center;

 border-radius: 0.8rem;
 overflow-y: scroll;
}

.selectClass::-webkit-scrollbar {
 display: none;
}

.List {
 background-color: #210D41;
 width: 100%;
 height: 4.5rem;

 border-radius: 0.8rem;
 margin-bottom: 1rem;

 cursor: pointer;
}

.contentActivity {
 width: 60%;
 height: 100%;

 display: flex;
 flex-direction: column;
 align-items: center;
}

.containerActivity {
 background-color: #311B55;
 width: 100%;
 height: 32rem;

 padding: 1rem;

 border-radius: 0.8rem;
}

.studentContainer {
 background-color: #210D41;
 width: 100%;
 height: 10rem;
 
 border-radius: 0.8rem;
}