@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap%27');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass'!important;
}

body {
  background-color: #210D41;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

h1, h2 {
  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
}

span {
  color: orange;
}

strong {
  color: #4e979f;
}