.progresso_title {
    color: white;
    margin-bottom: 2vh;
}

/* .boletimContainer {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.boletimContent {
    display: flex;
    justify-content: center
}

.boletimHeader {
    margin-bottom: 2rem;
}

.boletim {
    grid-area: b;

    background-color: #fff;
    height: auto;
    width: 100%;
    
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
}

.boletim table {
    width: 100%;
}

table thead tr td, table tbody tr td {
    padding: 0.3rem 0.5rem;
    border: 0.1rem solid #e2e2e2;
}

.boletim table thead tr {
    font-size: 18px;
}

.boletim table tbody tr .nota {
    color: #0C71AA;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.boletim table thead tr td,
.frequencia table thead tr td {
    font-style: italic;
    font-weight: bold;
}


.boletim table thead tr td,
.frequencia table thead tr td,
.boletim table tbody tr td:nth-child(2),
.boletim table tbody tr td:nth-child(3), 
.boletim table tbody tr td:nth-child(4), 
.boletim table tbody tr td:nth-child(5), 
.boletim table tbody tr td:nth-child(6), 
.frequencia table tbody tr td  {
    text-align: center;
}

.frequencia {
    grid-area: f;

    background-color: #fff;
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
}

.frequencia table {
    width: 100%;
}

.frequencia table tbody tr .nota {
    color: #0C71AA;
}

.observacoes {
    grid-area: o;

    background-color: #fff;
    height: 7rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.observacoes p,
.registro p {
    height: 1.5rem;
    background-color: #D9D9D9;
    border-bottom: 1px solid #D9D9D9;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 1rem;
}

.registro {
    grid-area: r;

    background-color: #fff;
    height: 7rem;
    border-radius: 0.5rem;

    overflow: hidden;
}

.registro table {
    height: 100%;
}

.registro table tbody tr td {
    text-align: center;
    padding-bottom: 1.5rem;
}

*/

