.containerUser {
 width: 85%;
 height: 100%;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 2em;

 margin-top: 5rem;
}

.contentUser .infoUser .photoUser {
 display: flex;
 align-items: end;
 gap: 0.5em;
}

.titleUser {
 text-align: center;
}

.nameUser {
 background-color: #fff;
 width: 100%;
 height: 6rem;
 display: flex;
 flex-direction: column;
 justify-content: space-around;

 padding: 0 1rem;
 
 border-radius: 10px;
 overflow: hidden;
}

.nameUser p:first-child {
 font-size: 20px;
}

.nameUser p:last-child {
 font-size: 15px;
}

.detailsUser {
 background-color: #fff;
 width: 100%;
 height: 8rem;
 
 border-radius: 10px;

 margin-top: 1rem;
}

.subjects {
 background-color: #fff;
 height: 7rem;

 padding: 1rem;
 border-radius: 10px;

 display: flex;
 flex-direction: column;
 gap: 2rem;
 overflow: hidden;
 transition: 1s;
}

.subjects:hover {
 height: 15rem;
}

.headerSubject {
 display: flex;
 gap: 2rem;
 font-size: 18px;
}

.subjects .headerSubject p {
 font-size: 20px;
 font-weight: bold;
}

.subjects button {
 width: 8rem;
 border-radius: 50px;
}

.subjects .headerSubject, .subjects p, .subjects button {
 position: relative;
}

.detailsUser {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    padding: 1rem;
}

.detailsUser p {
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}