.contentForm {
  display: flex;
  justify-content: center;

  padding: 3.5rem 0;
}

.screen {
  display: flex;
  justify-content: center;
  text-align: center;

  flex-direction: column;
  gap: 2rem;
}

.form {
  width: 25rem;
  
  border-radius: 50px;
  background: linear-gradient(145deg, #230e46, #1e0c3b);
  box-shadow:  5px 5px 10px #1c0b37,
              -5px -5px 10px #260f4b;

  padding: 4rem;
  backdrop-filter: blur(20px);
}

input,
select {
  width: 100%;
  height: 2rem;

  border: none;
  border-radius: 0.4rem;

  padding: 0 0 0 0.5rem;
}

.contentMid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: center;
}

.button {
  border: none;
  padding: 0.5rem 1rem; /*#5689e8*/
  background-color: #f9943b;
  border-radius: 0.4rem;
  cursor: pointer;
}

.button:hover {
  background-color: #5689e8;
  transition: 0.5s;
}

.auth__error{
  padding: 10px 0;
  background-color: hsl(0, 79%, 87%);
  margin-bottom: 20px;
}

.cad {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.cad p {
  color: white;
}