.contentForm {
  display: flex;
  justify-content: center;
  
  padding: 3.5rem 0;
}

.form .title {
 
  font-weight: 900;
}

.screen {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  text-align: center;

  flex-direction: column;
  gap: 2rem;
}

.form {
  width: 25rem;
  
  border-radius: 50px;
  background-color: #120329;
 

  padding: 4rem;
  backdrop-filter: blur(20px);
}

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  background: #371E5F;
  border: 1px solid orange;
}
input,
select {
  width: 100%;
  height: 2rem;
  background: #200B41;
  border: none;
  border-radius: 0.4rem;
  color: white;
  padding: 0 0 0 0.5rem;
  transition: background-color 0.5s ease-out; 
}

select {
  
}


.contentMid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: center;
}

.button {
  border: none;
  padding: 0.5rem 1rem; /*#5689e8*/
  background-color: #532F8B;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.5s ease-out; 
}

.button:hover, input:hover {
  background-color: #5819BB;
  transition: 0.5s;
}

.auth__error{
  padding: 10px 0;
  background-color: hsl(0, 79%, 87%);
  margin-bottom: 20px;
}

.cad {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.cad p {
  color: white;
}