.button {
    border: none;
    padding: 0.5rem 1rem;
    /*#5689e8*/
    background-color: #f9943b;
    border-radius: 0.4rem;
    cursor: pointer;
}

.button:hover {
    background-color: #5689e8;
    transition: 0.5s;
}