.center {
  display: flex;
  justify-content: center;

  padding: 3.5rem 0;
} 

.verifyEmail {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 40px 20px;
    background-color: transparent;
  }
  
  .verifyEmail h1{
    font-weight: 300;
    margin-top: 0;
    color: white;
  }
  
  .verifyEmail > p{
    line-height: 25px;
  }
  
  .verifyEmail > span{
    color: gray;
  }

  .verifyEmail strong {
    color: white;
  }
  
  .verifyEmail > button {
    margin-top: 35px;
    color: purple;
  }