.periodTopics {
 display: flex;
 flex-direction: column;

 margin-top: 2rem;
}

.topicsPeriod {
 width: 100%;

 display: grid;
 grid-template-columns: 60% 40%;

 align-items: center;
}

.topicsPeriod .topicsContent {
 margin-left: -50px;
 width: max-content;
}

.periodTopics h1 {
 margin-top: 2rem;
}

li {
 text-align: left;
 color: white;
 margin-top: 1rem;
}